RATE=100
DURATION=5m
MAX_VUS=1000
E2E_P95_MS=10000
MAX_STATUS_TIMEOUTS=0
STATUS_TIMEOUT_SECONDS=30
POLL_INTERVAL_SECONDS=0.25
WORKER_PROVIDER_MAX_CONCURRENCY=32
WORKER_PROVIDER_RATE_PER_SECOND=100
NOTIFICATION_INTAKE_GLOBAL_RATE_PER_SECOND=5000
NOTIFICATION_INTAKE_PER_TENANT_RATE_PER_SECOND=500
